NEXT_PUBLIC_SUPABASE_URL=https://pvebrdwpcloehtgyqxax.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_HC2dcfz-1lo-R87pAAL6lw_rnQ5uJQf
NEXT_PUBLIC_APP_URL=https://3dforge-theta.vercel.app/
